.password-form {
    /* background-color: #f8f9fa; */
    background: rgb(157, 153, 226);
    background: linear-gradient(90deg, rgb(182, 179, 228) 29%, rgba(219, 184, 236, 0.984) 58%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
  }
  .password-form input[type="password"]{
      background-color: transparent;
  }
  .password-form input[type="password"]::placeholder {
    color: white;
  }
  .password-form input[type="password"]:focus::placeholder {
    color: transparent;
  }
  .password-form .btn {
    background-color: white;
    border-radius: 20px;
    color: plum;
   font-weight: bold;
  }
  .password-form .btn:hover {
    background-color:transparent;
    color: white;
     border: 1px solid white;
  }